/* base */
body {
    font-family: 'Open Sans', sans-serif;
}

button:focus {
    outline:0;
}

a {
    color: #00A5E0;
    text-decoration: none;
}

a:visited {
    color: #00A5E0;
    text-decoration: none;
}

a:active {
    color: #00A5E0;
    text-decoration: none;
}

/* ------------------------------------------------------------------------------------------------------------------ */

/* content */
.box {
    box-shadow: 0 8px 10px -6px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 8px 10px -6px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 8px 10px -6px rgba(0, 0, 0, 0.4);
    width: auto;
    padding: 10px;
    overflow:hidden;
    border-radius: 5px;
    margin: 10px;
}

.box-head {
    font-size: 2rem;
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.box-body {
    padding: 10px;
}

.alert-warning {
    box-shadow: 0 8px 10px -6px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 8px 10px -6px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 8px 10px -6px rgba(0, 0, 0, 0.4);
    background-color: #FFFFFF;
    border: 1px solid #fac423;
    color: #fac423;
    width: auto;
    padding: 20px;
    overflow:hidden;
    border-radius: 5px;
    margin: 10px;
}

.alert-success {
    box-shadow: 0 8px 10px -6px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 8px 10px -6px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 8px 10px -6px rgba(0, 0, 0, 0.4);
    background-color: #FFFFFF;
    border: 1px solid #3ac932;
    color: #3ac932;
    width: auto;
    padding: 20px;
    overflow:hidden;
    border-radius: 5px;
    margin: 10px;
}

.alert-danger {
    box-shadow: 0 8px 10px -6px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 8px 10px -6px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 8px 10px -6px rgba(0, 0, 0, 0.4);
    background-color: #FFFFFF;
    border: 1px solid #d42c46;
    color: #d42c46;
    width: auto;
    padding: 20px;
    overflow:hidden;
    border-radius: 5px;
    margin: 10px;
}

.alert-info {
    box-shadow: 0 8px 10px -6px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 8px 10px -6px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 8px 10px -6px rgba(0, 0, 0, 0.4);
    background-color: #FFFFFF;
    border: 1px solid #12b6e3;
    color: #12b6e3;
    width: auto;
    padding: 20px;
    overflow:hidden;
    border-radius: 5px;
    margin: 10px;
}

/* ------------------------------------------------------------------------------------------------------------------ */

/* button */

.btn-default {
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: #E5E5E5;
    background-color: #FFFFFF;
    transition: 0.1s;
    color: #000000;
    margin: 5px;
}

.btn-default:hover {
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    box-shadow: 0 8px 10px -6px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 8px 10px -6px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 8px 10px -6px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.btn-dark {
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: #2e2e2e;
    background-color: #FFFFFF;
    color: #2e2e2e;
    transition: 0.4s;
    margin: 5px;
}

.btn-dark:hover {
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: #121212;
    background-color: #2e2e2e;
    color: #FFFFFF;
    box-shadow: 0 8px 10px -6px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 8px 10px -6px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 8px 10px -6px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.btn-success {
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: #3ac932;
    background-color: #FFFFFF;
    color: #2cbd26;
    transition: 0.4s;
    margin: 5px;
}

.btn-success:hover {
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: #2cbd26;
    background-color: #3ac932;
    color: #FFFFFF;
    box-shadow: 0 8px 10px -6px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 8px 10px -6px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 8px 10px -6px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.btn-danger {
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: #d42c46;
    background-color: #FFFFFF;
    color: #d42c46;
    transition: 0.4s;
    margin: 5px;
}

.btn-danger:hover {
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: #bf283f;
    background-color: #d42c46;
    color: #FFFFFF;
    box-shadow: 0 8px 10px -6px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 8px 10px -6px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 8px 10px -6px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.btn-warning {
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: #fac423;
    background-color: #FFFFFF;
    color: #fac423;
    transition: 0.4s;
    margin: 5px;
}

.btn-warning:hover {
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: #f0bc22;
    background-color: #fac423;
    color: #000000;
    box-shadow: 0 8px 10px -6px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 8px 10px -6px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 8px 10px -6px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.btn-info {
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: #12b6e3;
    background-color: #FFFFFF;
    color: #12b6e3;
    transition: 0.4s;
    margin: 5px;
}

.btn-info:hover {
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: #11acd6;
    background-color: #12b6e3;
    color: #FFFFFF;
    box-shadow: 0 8px 10px -6px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 8px 10px -6px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 8px 10px -6px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.link-btn {
    font-size: .85rem;
    margin: 5px;
}

/* ------------------------------------------------------------------------------------------------------------------ */

/* attributes */
.width-sm {
    width: 20rem;
}

.width-med {
    width: 40rem;
}

.width-lg {
    width: 80rem;
}

.width-max {
    width: auto;
}

/* ------------------------------------------------------------------------------------------------------------------ */

/* text */
.heading1 {
    font-size: 4rem;
    font-weight: bold;
}

.heading2 {
    font-size: 3rem;
    font-weight: bold;
}

.heading3 {
    font-size: 2rem;
    font-weight: bold;
}

.heading4 {
    font-size: 1rem;
    font-weight: bold;
}

/* ------------------------------------------------------------------------------------------------------------------ */
